<h1>Pages#game</h1>
<p>Find me in app/views/pages/game.html.erb</p>


<form action="/grid" >
  <label for="question">Enter a number:</label>
  <input type="text" id="question" name="num" placeholder="How many letters?">
  <!-- <input type="text" id="question" name="word" placeholder="your attempt"> -->
  <input type="submit" value="Go on!">
</form>
