
<%= @generate_grid %>


<form action="/score" >
  <input type="text" id="question" name="word" placeholder="your attempt">
  <input type="hidden" name="grid" value="<%= @generate_grid %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="submit" value="Go on!">
</form>
