<h1>Pages#score</h1>
<p>Find me in app/views/pages/score.html.erb</p>



<!-- <form action="/score" >
  <input type="text" id="question" name="word" placeholder="your attempt">
  <input type="submit" value="Go on!" <%# end_time = Time.now %>>
</form> -->


<%= @run_game %>
<%= @grid %>

